@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --foreground: #212121;
  --header-footer-bg: #303030;
  --header-footer-text: #FAFAFA;
  --header-footer-btn-bg: #FAFAFA;
  --header-footer-btn-bg-hover: #F5F5F5;
  --header-footer-btn-text: #F57C00;
  --header-footer-btn-text-hover: #E65100;
  --text-color: #212121;
  --btn-bg: #212121;
  --btn-bg-hover: #303030;
  --btn-text: #F57C00;
  --btn-text-hover: #E65100;
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Pour supprimer les flèches dans les inputs number */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

/* Limite le texte à deux lignes */
.line-clamp-two {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

header {
  @apply bg-[var(--header-footer-bg)] text-[var(--header-footer-text)] p-8 text-center rounded-b-lg shadow-md;
}

.search-bar-header {
  @apply bg-[var(--background)] text-[var(--text-color)];
}

header h1 {
  @apply text-4xl font-bold mb-4;
}

header p {
  @apply text-lg;
}

.btn-header, .btn-footer {
  @apply bg-[var(--header-footer-btn-bg)] text-[var(--header-footer-btn-text)]
  hover:bg-[var(--header-footer-btn-bg-hover)] hover:text-[var(--header-footer-btn-text-hover)];
}

button {
  @apply bg-[#424242] text-[#F57C00] hover:bg-[#616161] hover:text-[#E65100] py-2 px-6 rounded-lg shadow-md transition ease-in-out duration-300;
}

button:hover {
  @apply transform scale-105;
}

.main {
  @apply py-12 px-4;
}

footer {
  @apply bg-[var(--header-footer-bg)] text-[var(--header-footer-text)] py-5 text-center rounded-t-lg fixed bottom-0 w-full;
}

footer p {
  @apply text-sm;
}

.callToAction {
  @apply mt-12 text-center;
}

.callToAction h2 {
  @apply text-3xl font-bold text-[#F57C00];
}

.callToAction p {
  @apply text-lg text-gray-700 mt-2;
}

.dialog-category {
  @apply bg-gray-200 p-4;
  box-shadow: 0 0 5px 5px rgba(80, 80, 80, 0.8);
}

.category-0-selected:hover {
  @apply bg-gray-300
}

.category-1-selected:hover {
  @apply bg-gray-400
}

.category-2-selected:hover {
  @apply bg-gray-500
}
